
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* header styling */
.material-icons{
    color: rgb(33, 33, 33);
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    padding: 15px;
    height: 80px;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
    
}
.header-left img{
    width: 100px;
    margin-left: 20px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}

.header-search{
    display: flex;
}

.header-search form{
    border: 1px solid #ddd;
    height: 35px;
    display: flex;
    border: none;
}

.header-search input{
    width: 500px;
    padding: 0px;
    border-top-left-radius: 35px ;
    border-bottom-left-radius: 35px ;
    border-right: none;
}
.header-search button{
    height:100%;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-left: none;
}

.search-mic{
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius : 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-mic:hover{
    background-color: rgb(200, 200, 200);
}

.mainbody{
    height: calc(100vh-80px);
    display: flex;
    overflow: hidden;
}

.sidebar{
    height : 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}

.sidebar-icon{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar-icon:hover{
    background-color: rgb(240, 240, 240);
}

.sidebar::-webkit-scrollbar{
    display: none;
}

hr{
    height: 1px;
    background-color: aliceblue;
}

.recommandation span{
    margin-left: 10px;
   
    height: 100%;
    border: 1px solid #dddddd66;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px 10px;
    cursor: pointer;
}

.recommandation span:hover{
    background-color: #e0e0e0;
}

.videos{
    background-color: #f9f9f9;
    width: 100% ;
    height: 100%; 
    padding: 15px 25px;
    border-top: 1px solid #dddddd66;
    overflow-y: scroll;
}

.videos::-webkit-scrollbar{
    display: none;
}

.videos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: wrap;
}

.video{
    width: 310px;
    height: 170px;
    margin-bottom: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.video_thumbnail{
    width: 100%;
    height: 170px;
    object-fit: cover;
}